#sectionOne {
  background-image: url("./images/car.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  height: 80vh;
  width: 100%;
}

#sectionOne h2 {
  margin: auto;
  padding-top: 10vh;
  font-size: 3em;
  width: 80vw;
}

#sectionOne button {
  display: flex;
  margin: auto;
  font-size: 1em;
  margin-top: 20px;
}

#sectionTwo {
  margin-top: 10vh;
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex: 100%;
  background-color: #f9f9f9;
}

.comparison {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.comparisonWidth {
  width: 700px;
  margin: auto;
}

#comparisonRight {
  /* background-color: #f6feaa; */
  border-left: lightgray 1px solid;
}

.insuranceType {
  text-align: center;
}

.typeDescription {
  text-align: center;
  padding-top: 60px;
}

.highlightDescription {
  color: #fb4d3d;
  font-weight: 700;
}

#sectionThree {
  align-items: center;
  margin-top: 20vh;
  height: 70vh;
  width: 100%;
  background-image: url("https://assets.materialup.com/uploads/ed316f7f-cbc3-49db-917b-aee511dc32a2/preview.jpg");
  background-repeat: no-repeat;
  background-size: 50%;
}

#sectionThreeTitle {
  font-weight: 600;
}

.rateBox {
  border: #345995 solid 1px;
  border-radius: 10px;
  margin-left: 5vw;
}

.ratePrice {
  font-size: 2.5rem;
  font-weight: 700;
  padding: 20px;
  margin: auto;
  text-align: center;
}

.rateTitle {
  padding-top: 10px;
  padding-left: 3vw;
}

.rateDescription {
  padding-left: 3vw;
}

#ratePlus {
  text-align: left;
  font-size: 4rem;
  font-weight: 800;
  padding-left: 20vw;
}

#sectionFour {
  margin-top: 20vh;
  height: 80vh;
}

#sliderPanel {
  padding-left: 10px;
}

#premiumBreakdown {
  margin-top: 8vh;
  background-color: #345995;
  width: 92vw;
  height: 30vh;
  color: white;
}

.premiumBox {
  height: 20vh;
}

#quoteRates {
  margin: auto;
  padding: 30px;
  margin-top: 40px;
  width: 50vw;
  border: gray 1px solid;
}

.dashboardPage {
  background-color: #f9f9f9;
}

.dashboard {
  margin-left: 200px;
  margin-top: 40px;
}

.profile {
  margin-left: 200px;
  margin-top: 40px;
}

.reports {
  margin-left: 200px;
  margin-top: 40px;
}

.dashboard .chart {
  margin-top: 25px;
  background-color: white;
  padding: 20px;
}

.dashboard .paper {
  margin-top: 20px;
}

#vehicleTypeBlank {
  height: 50px;
}
